USE [master]
GO
/****** Object:  Database [ListaCompartilhada]    Script Date: 04/20/2017 23:44:02 ******/
CREATE DATABASE [ListaCompartilhada] ON  PRIMARY 
( NAME = N'ListaCompartilhada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ListaCompartilhada.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ListaCompartilhada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ListaCompartilhada_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ListaCompartilhada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\MSSQL$SQLEXPRESS]    Script Date: 04/20/2017 23:44:02 ******/
CREATE LOGIN [NT SERVICE\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Português (Brasil)]
GO
/****** Object:  Login [IHC]    Script Date: 04/20/2017 23:44:03 ******/
/* For security reasons the login is created disabled and with a random password. */
CREATE LOGIN [IHC] WITH PASSWORD=N'fatec', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Português (Brasil)], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [IHC] DISABLE
GO
/****** Object:  Login [BUILTIN\Usuários]    Script Date: 04/20/2017 23:44:03 ******/
CREATE LOGIN [BUILTIN\Usuários] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Português (Brasil)]
GO
/****** Object:  Login [AUTORIDADE NT\SISTEMA]    Script Date: 04/20/2017 23:44:03 ******/
CREATE LOGIN [AUTORIDADE NT\SISTEMA] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Português (Brasil)]
GO
USE [ListaCompartilhada]
GO
/****** Object:  User [IHC]    Script Date: 04/20/2017 23:44:03 ******/
CREATE USER [IHC] FOR LOGIN [IHC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[codlogin] [nchar](15) NOT NULL,
	[Nome_Usuario] [varchar](50) NOT NULL,
	[Senha] [varchar](10) NOT NULL,
	[Online] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoUnidade]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoUnidade](
	[ID_TipoUnidade] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Unidade] [varchar](50) NOT NULL,
	[Sigla_Unidade] [varchar](5) NOT NULL,
 CONSTRAINT [PK__TipoUnid__CDC741D6145C0A3F] PRIMARY KEY CLUSTERED 
(
	[ID_TipoUnidade] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produto](
	[ID_Produto] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Produto] [varchar](50) NOT NULL,
	[ID_TipoUnidade] [int] NOT NULL,
	[ID_Categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Produto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Oferta]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta](
	[ID_Oferta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Item] [int] NOT NULL,
	[ID_Loja] [int] NOT NULL,
	[Preco] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Oferta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loja]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loja](
	[ID_Loja] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Loja] [varchar](50) NOT NULL,
	[Endereco] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Loja] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lista_Item]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lista_Item](
	[ID_Item] [int] IDENTITY(1,1) NOT NULL,
	[ID_Lista] [int] NOT NULL,
	[ID_Produto] [int] NOT NULL,
	[Quantidade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Item] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lista]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lista](
	[ID_Lista] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Lista] [varchar](50) NOT NULL,
	[ID_Usuario_Dono] [int] NOT NULL,
	[Data_Criacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Lista] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grupo_Usuario]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo_Usuario](
	[ID_Lista] [int] NOT NULL,
	[ID_Usuario] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 04/20/2017 23:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Categoria] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
